@charset "utf-8";
/* CSS Document */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

fieldset,
c {
	border: none;
}

img {
	display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}
em,
i {
	font-style: normal;
}
ul,
ol,
li {
	list-style: none;
}

a {
	color: #666;
	text-decoration: none;
}
/*清除浮动*/
.clear {
	clear: both;
}
* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	overflow: auto;
	color: #333;
	font: 14px 'Helvetica neue', '微软雅黑';
	background: #fff;
}
* {
	box-sizing: border-box;
}
